services:
  - name: unibooks-web
    type: web_service
    env: python
    runtime: python-3.11
    region: oregon
    repo: https://github.com/Nathkash/Unibooks
    branch: main
    buildCommand: pip install -r requirements.txt && python manage.py collectstatic --noinput && python manage.py migrate
    startCommand: gunicorn unibooks.wsgi --log-file -
    healthCheckPath: /health/

databases:
  - name: unibooks-db
    type: postgresql
    plan: starter

cron:
  - name: process-subscriptions
    schedule: "@daily"
    command: python manage.py process_subscriptions
